//Variables
//Color Variables

$white: #fff;
$black: #000;
$greymid: #dddbdb;
$greylight: #f1efef;
$greydark: #94a4a4;
$greydarkest: #333333;
$paleyellow: #fffcbc;


//Font Variables

$arvo:"Arvo-Regular";
 $arvobold:"Arvo-Bold";
 $goudy:"GoudyBookletter1911";
 $oswald:"Oswald-Regular";
 $oswaldlight:"Oswald-Light";
 $wellfleet:"Wellfleet-Regular";


//Document Variables

$base-border-radius: 4px;
$small-border-radius: 10px;
$medium-border-radius: 20px;
$button-border-radius: 18px;
$circle-small:15px;
$circle-medium:40px;
$circle-large:60px;
//$featured-width: 922px;
//$featured-height: 324px;